<!DOCTYPE html>
<html>
<head>
    <title>Song Search</title>
    <link rel="stylesheet" href="static/index-style.css"+>
</head>
<body>

    <div class="search-header">
        <h1>SpotLyric</h1>
        <h2>Song Search</h2>
    </div>
    
    <div class="search-container">
        <form method="post">
            <input type="text" name="search_query" placeholder="Enter the name of the song">
        </form>
    </div>
    
    <div class="about">
        <p>Welcome to SpotLyric! Search for a song and get a list of matching results. Click on 'details' for more track details and information!</p>
    </div>
    
</body>
</html>