<!DOCTYPE html>
<html>
<head>
    <title>Song Search</title>
    <link rel="stylesheet" href="static/index-style.css"+>
</head>
<body>

    <div class="search-header">
        <h1>SpotLyric</h1>
        <h2>Song Search</h2>
    </div>
    
    <div class="search-container">
        <form method="post">
            <input type="text" name="search_query" placeholder="Enter the name of the song">
        </form>
    </div>
    
    <div class="about">
        <p>Welcome to SpotLyric! Search for a song and view the lyrics. Spotipy library and Spotify API used to extract a list of songs and their data.</p>
    </div>
    
</body>
</html>
